<!doctype html>
<html>
  <head>
    <a href="/">Home</a>
    <a href="about">About </a>
    <a href="search">Search Food</a>
    <a href="addfood">Add A Food</a>
    <a href="listall">List Foods</a>
    <a href="register">Register</a>
    <a href="login">Login Page</a>
    <a href="logout">Log Out</a>
    <a href="api">Food API</a>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/foodapi" method="GET">
      <p>What book do you want?</p>
      <input id="search-box" type="text" name="keyword" value="">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>