<!doctype html>
<html>
  <head>
    <a href="/">Home</a>
    <a href="about">About </a>
    <a href="search">Search Food</a>
    <a href="addfood">Add A Food</a>
    <a href="listall">List Foods</a>
    <a href="register">Register</a>
    <a href="login">Login Page</a>
    <a href="logout">Log Out</a>
    <a href="api">Food API</a>
    <title>User list for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />

    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the users of the website:</h2>
    <ul>
      <% availableUsers.forEach(function(user) { %>
        <li><%= user.username %> </li>
      <% }) %>
    </ul>
    </body>
</html>