<!doctype html>
<html>
  <head>
    <title>Login to /title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    //<h1>Login to </h1>
    <form method="POST" action="/loggedin">
        <p>"Succesful Login" /></p>
        <input type="submit" value="Login" />
      </form>
      <p><a href="/index">Home</a></p>
  </body>
</html>