
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <style>
      body {
        background-image: url('http://www.doc.gold.ac.uk/usr/208/images/barback.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .login-container {
        max-width: 90%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0);
        border: none;
      }
      .login-container h1{
        color: white;
        border: none;
      }
      .form-group label {
        font-size: 18px; /* Larger font size */
        font-style: initial;
        color: white; /* White text color */
      }
      .register-link {
        font-size: 18px; /* Larger font size */
        font-style: initial;
        color: white; /* White text color */
      }
      .register-link a {
      display: inline-block;
      background-color: rgb(0, 247, 255);
      color: white; /* White text color */
      font-size: 16px;
      text-decoration: none;
      padding: 8px 16px;
      border-radius: 4px;
      margin-left: 5px;
    }
    .register-link a:hover {
      background-color: #ff0000; /* Darken the background color on hover */
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
      }
    .logo img {
      max-width: 200px; /* Adjust the max width if needed */
      max-height: 100px; /* Adjust the max height if needed */
      height: auto;
      width: auto;
    }
          
      @media screen and (max-width: 480px) {
        .login-container {
          max-width: 100%;
          padding: 0 20px;
          border: none;
        }
      }
    </style>
  </head>
  <body>


    <main>
      <div class="logo">
        <img src="/images/scannerlogo.png" alt="logo">
      </div>
      <div class="login-container">
        <h1>Login</h1>
        <form id="login-form" method="POST" action="/loggedin">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Login</button>
        </form>
        <div id="message-box" style="display:none;"></div>
        <div class="register-link">
          <p>Don't have an account yet? <a href="/register">Register here</a></p>
        </div>
      </div>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
  const loginForm = document.getElementById('login-form');
  const messageBox = document.getElementById('message-box');

  loginForm.addEventListener('submit', async (e) => {
    e.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    try {
      const response = await fetch('loggedin', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, password }),
      });

      if (response.status === 200) {
        window.location.href = 'index';
      } else {
        const data = await response.json();
        messageBox.textContent = data.message;
        messageBox.style.display = 'block';
      }
    } catch (error) {
      console.error('Error:', error);
      messageBox.textContent = 'An error occurred while processing your request.';
      messageBox.style.display = 'block';
    }
  });
});


      </script>
  </body>
</html>
