<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript"></script>
<style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url('http://www.doc.gold.ac.uk/usr/208/images/barback.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      }

    header {
      background-color: #333;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
      display: inline-block;
    }

    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(100px, auto);
      gap: 10px;
      padding: 20px;
      box-sizing: border-box;
      justify-items: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }

    h1 {
      font-size: 50px;
      color: white;
      text-align: center;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -200px;
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
    }

    .nav-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 247, 255);
      color: white;
      text-decoration: none;
      font-size: 14px;
      border-radius: 4px;
      padding: 8px 16px;
    }

    .nav-button:hover {
      background-color: #00e1ff;
    }

    @media screen and (min-width: 768px) {
      main {

      }
    }
    
    @media screen and (max-width: 480px) {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      footer {
        height: auto;
      }
    }
  </style>
</head>
<body>
  <main>
    <div>
      <h1>Uh Oh! Looks like you're not logged in!</h1>

    </div>
    <footer>
        <a class="nav-button" href="/login">Go to Login</a>
      </footer>
  </main>

</body>
</html>
