
<html><head></head><body style="background-color: white;"></body><title>Recipe Buddy</title><link rel="stylesheet" type="text/css" href="main.css"><body>
  <h1>Registered</h1>
  <p>
   You have registered!
  </p>
</body><p><a href="/">Home page</a></p></html>